*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/mmu.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

.navbar {
    display: flex;
    position: fixed;
    padding: 22px 0;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.navbar .logo{
    color: aliceblue;
    display: flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
}

.navbar .logo img{
    height: 50px;
    width: auto;
}

.navbar .logo h2{
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar .links{
    display: flex;
    list-style: none;
    gap: 35px;
}

.navbar .links a {
    text-decoration: none;
    color: aliceblue;
    border: 1px solid transparent;
    transition: 0.5 ease;
    font-size: 1.1rem;
    font-weight: 500;
}

.navbar .links a:hover{
    color: black
}

.navbar i{
    color: aliceblue;
    border: none;
    outline: none;
    font-size: 30px;
    padding: 10px 18px;
    cursor: pointer;
}

.navbar.scrolled{
    background: rgb(83, 125, 239);
}

.acc-wrap{
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translateX(-10%);
    width: 200px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 999;
}

.acc-wrap.open-menu{
    max-height: 400px;
}

.acc{
    position: relative;
    background: #fff;
    padding: 20px;
    margin: 2px;
    border-radius: 8px;
}

.acc-menu{
    display: flex;
    align-items: center;
    text-align: center;
}

.acc-menu h2{
    font-weight: 500;
}

.acc-menu i{
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
    color: darkgray;
}

.acc hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.acc-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(50, 36, 3);
    margin: 12px 0;
}

.acc-menu-link p{
    width: 100%;
}

.acc-menu-link i{
    width: 40px;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
    color: darkgray;
}


.acc-menu-link:hover p{
    font-weight: 600;
}

.home-content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(243, 247, 255);
}

.home-content h1{
    font-size: 70px;
    margin-top: 80px;
}

.home-content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid rgb(185, 212, 254);
    background: transparent;
    color: aliceblue;
    cursor: pointer;
    
}

button:hover{
    border: 1px solid rgb(185, 212, 254);
    background: rgb(82, 140, 234);
    transition: 0.5s;
}


/*about section css*/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: aliceblue;
    width: 100%;
    height: 100vh;
}

.about-img img{
    width: 35vw;   
}

.abt-heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}