{% extends "base.html" %}
{% block title %}Home - Lost and Found{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<!-- Home Section -->
<body>
    <section class="home" id="home">
        <div class="home-banner">
            <div class="home-content">
                <h1>MMU<br>Lost And Found</h1>
                <p>Wonder where is your stuffs or found something but not belongs to you?</p>
                <div>
                    <a href="{{ url_for('views.feed', type='lost') }}">
                        <button type="button">START</button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <hr>

<!-- About Section -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="{{ url_for('static', filename='images/aboutimg.png') }}">
        </div>
        <div class="about-content">
            <h2 class="abt-heading">About Us</h2>
            <h3>Lost something? Found something? Let's get it home!</h3>
            <p>
                Lost & Found is an online platform dedicated to bridging the gap 
                between lost belongings and their owners. We provide an organized 
                system for reporting, searching, and returning items in a transparent 
                and secure way. Our goal is to reduce stress, save time, and build a 
                trustworthy community where lost things can be reunited with the people 
                who value them.
            </p>
        </div>
    </section>

    <hr>
    
</body>
{% endblock %}
