Flask 
- A lightweight web framework used to build Lost & Found web application
Flask-SQLAlchemy
- Database toolkit for Flask, make working with SQL databases easier by using ORM (Object Relational Mapping）
python-dotenv
- Loads environment variables from a .env file so can keep secrets/configs out of code
Pillow
- A Python image processing library, used to open, edit, and save image files.
ImageHash
- Library to generate perceptual hashes (pHash, aHash, dHash) for images. Useful for detecting similar images.