<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content ="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <title>Home</title>
    </head>
    <body>
        <header>
            <div>
                <nav class = "navbar">
                    <a href="/" class="logo">
                    <img src="{{ url_for('static', filename='images/logo 1.png') }}" alt="logo">
                    <h2>Lost And Found</h2>
                    </a>
                    <ul class="links">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about">About Us</a></li>
                        <li><a href="/">Services</a></li>
                    </ul>
                    <i class='bx bxs-user' onclick="toggleMenu()"></i>

                    <div class="acc-wrap" id="accMenu">
                        <div class="acc">
                            <div class="acc-menu">
                                <i class='bx bxs-user'></i>
                                {% if current_user.is_authenticated%}
                                    <h2>{{ current_user.username}}</h2>
                                {% else%}
                                    <h2>Account</h2> 
                                {% endif %}
                            </div>
                            <hr>

                            {% if current_user.is_authenticated %}
                                <a href="/" class="acc-menu-link">
                                    <i class='bx bxs-user-detail'></i>
                                    <p>User Profile</p>
                                </a>
                                <a href="/" class="acc-menu-link">
                                    <i class='bx bxs-edit'></i>
                                    <p>Edit Profile</p>
                                </a>
                                <a href="{{ url_for('auth.logout') }}" class="acc-menu-link">
                                    <i class='bx bxs-log-out'></i>
                                    <p>Logout</p>
                                </a>
                            {% else %}
                                <a href="/login" class="acc-menu-link">
                                    <i class='bx bxs-log-in'></i>
                                    <p>Login</p>
                                </a>
                                <a href="/sign_up" class="acc-menu-link">
                                    <i class='bx bxs-user-account'></i>
                                    <p>Create Account</p>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <section class="home" id="home">
            <div class="home-content">
                <h1>MMU<br>Lost And Found</h1>
                <p>Wonder where is your stuffs or found something but not belongs to you?</p>
                <div>
                    <button type="button">LOST ITEM</button>
                    <button type="button">FOUND ITEM</button>
                </div>
            </div>
        </section>

        <!--about section design-->
        <section class="about" id="about">
            <div class="about-img">
                <img src="{{ url_for('static', filename='images/aboutimg.png') }}">
            </div>

            <div class="about-content">
                <h2 class="abt-heading">About Us</h2>
                <h3>Lost something? Found something? Let's get it home!</h3>
                <p>Lost & Found is an online platform dedicated to bridging the gap between lost belongings and their owners. 
                    We provide an organized system for reporting, searching, and returning items in a transparent and secure way.
                    Our goal is to reduce stress, save time, and build a trustworthy community where lost things can be reunited with the people who value them.</p>
            </div>
        </section>


<script>
    let accMenu = document.getElementById("accMenu");

    function toggleMenu(){
        accMenu.classList.toggle("open-menu");
    }

    window.addEventListener("scroll", function() {
        const navbar = document.querySelector(".navbar");
        if (window.scrollY > 50) {
            navbar.classList.add("scrolled");
        } else {
            navbar.classList.remove("scrolled");
        }
    })
</script>        
        </header>

        
    </body>