{% extends "base.html" %}
{% block title %}Home - Lost and Found{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
<!-- Home Section -->
<body>
    <section class="home" id="home">
        <div class="home-banner">
            <div class="home-content">
                <h1>MMU<br>Lost And Found</h1>
                <p>Wonder where is your stuffs or found something but not belongs to you?</p>
                <div>
                    <a href="{{ url_for('views.feed', type='lost') }}">
                        <button type="button">START</button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <hr>

<!-- About Section -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="{{ url_for('static', filename='images/aboutimg.png') }}">
        </div>
        <div class="about-content">
            <h2 class="abt-heading">About Us</h2>
            <h3>Lost something? Found something? Let's get it home!</h3>
            <p>
                Lost & Found is an online platform dedicated to bridging the gap 
                between lost belongings and their owners. We provide an organized 
                system for reporting, searching, and returning items in a transparent 
                and secure way. Our goal is to reduce stress, save time, and build a 
                trustworthy community where lost things can be reunited with the people 
                who value them.
            </p>
        </div>
    </section>

    <hr>
    
    <section class="services" id="Services">
        <div class="max-width">
            <h1>Our Services</h1>
            <div class="content">
                <div class="service-cards">
                    <!-- Service 1 -->
                    <div class="service-card">
                        <i class="fa-regular fa-pen-to-square"></i>
                        <h3>Post Found/Lost Items</h3>
                        <p>Found something? Lost something? Share details to help the rightful owner reclaim it safely and post your lost belonging.</p>
                    </div>
                </div>
                <div class="service-cards">
                    <!-- Service 2 -->
                    <div class="service-card">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <h3>Search Listings</h3>
                        <p>Browse all lost and found reports with smart filters for faster results.</p>
                    </div>
                </div>
                <div class="service-cards">
                    <!-- Service 3 -->
                    <div class="service-card">
                        <i class="fa-regular fa-comment"></i>
                        <h3>Chat Function</h3>
                        <p>Connect instantly with other users through our built-in chat system.  
                            Discuss found items, share details, and coordinate safe handovers in real time.
                        </p>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
