<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content ="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    </head>

    <body>
        <div class="login-box">
              <!-- Flash messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <div class="flash-messages">
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                      {{ message }}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
            <!-- End flash messages -->
            <!--Login form-->
            <div class="form-box">
                <form action="#" method="POST">
                    <h1>Login</h1>
                    <div class="role-box">
                        <label for="role">Login as</label>
                        <select name="role" required>
                            <option value="user">User</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <input type="email" name="email" placeholder="Email" required>
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="input-box">
                        <input type="password" name="password" placeholder="Password" required>
                        <i class="fa-solid fa-lock"></i>
                        <i class="fa-solid fa-eye" onclick="togglePassword(this)"></i>
                    </div>
                    <div class="forgot-link">
                        <a href="/">Forgot Password?</a>
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <div class="register-link">
                      <p>Don't have an account?</p>
                      <a href="{{ url_for('auth.sign_up') }}" class="btn-register">Register</a>
                    </div>
                  </form>
            </div>
        </div>
    </body>
</html>

<script>
    setTimeout(() => {
    const flashMessages = document.querySelector('.flash-messages');
    if (flashMessages) {
      flashMessages.style.transition = "opacity 0.5s ease";
      flashMessages.style.opacity = "0";
      setTimeout(() => flashMessages.remove(), 500); // remove after fade
    }
  }, 2000);

  function togglePassword(icon) {
    const input = icon.parentElement.querySelector('input');
    if (input.type === "password") {
        input.type = "text";
        icon.classList.replace('fa-eye', 'fa-eye-slash');
    } else {
        input.type = "password";
        icon.classList.replace('fa-eye-slash', 'fa-eye');
    }
}
</script>