<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content ="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='signupstyle.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    </head>

    <body>
        <div class="signup-box">
            <div class="form-box">
                <form action="#" method="POST">
                    <h1>Create Account</h1>
                    <div class="input-box">
                        <input type="text" name="username" placeholder="Username" required>
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="input-box">
                        <input type="email" name="email" placeholder="Email" required>
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="input-box">
                        <input type="password" name="password" placeholder="Password" required>
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <div class="tandc-link">
                        <label>
                            <input type="checkbox" name="tandc" required>
                            I accept the <a href="/" target="_blank">Terms and Condition</a>
                        </label>
                    </div>
                    <button type="submit" class="btn">Register</button>
                    <div class="login_link">
                        <p>Already have an account?</p>
                        <a href="{{ url_for('auth.login') }}" >Login</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>